<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PortalControls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PortalControls.Properties.Settings>
            <setting name="qntReceitasPag" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="qntMaxResultadoSite" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="buscarSadia" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="buscarReceitas" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ultimoSizeForm" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="manterBuscasAnteriores" serializeAs="String">
                <value>False</value>
            </setting>
        </PortalControls.Properties.Settings>
    </userSettings>
</configuration>